.ant-layout-sider .ant-layout-sider-children{
    background: #fff !important;
}

.header-menu{
    height: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.content-header{
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
