.content-container{
  margin-bottom: 100px;
}
.content-title{
  margin-left: 50px;
}
.list-state-product{
  margin-left: 35px;
}
.list-state-product ul{
  display: flex;
  padding: 0;
}

.list-state-product ul li{
  list-style: none;
  padding: 5px 15px;
}

.list-state-product ul li{
  font-size: 13px;
  font-family: 'Nunito Sans', sans-serif;
}
.action-nav{
  width: 100%;
  display: flex;
  justify-content:start;
  gap: 30px;
  padding: 0 50px;
  margin-bottom: 25px;
}

/* CSS cho các div chứa Select */
.filter-item {
    transition: border-color 0.3s ease;
    padding: 0 20px;
  }
  .middle-item {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  /* Thêm hiệu ứng hover */
  .filter-item:hover {
    border-color: rgba(0, 0, 0, 0.3);
  }
  
  /* Hiển thị các Select bên cạnh nhau */
  .btn-filters {
    display: flex;
    justify-content: flex-start;
    border: solid 0.5px #8a94ad;
    border-radius: 5px;
  }
  

/* Bỏ border và background của Select */
.ant-select-selector {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
  }
  
  /* Điều chỉnh font và padding cho Select */
  .ant-select {
    font-size: 14px;
  }
  
  .ant-select-selector {
    padding: 4px 8px;
  }
  
  /* Hiển thị tùy chọn của Select */
  .ant-select-dropdown {
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  
  /* Khi hover */
  .ant-select-selector:hover {
    border-color: transparent !important;
    background: transparent !important;
  }
  

  .btn-action{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 60px;
  }
  .btn-action .btn-exprot,.btn-action .btn-create {
    padding: 18px ;
    text-align: center;
  }
  
  .ant-select-selection-item{
    font-weight: 700 !important;
  }
  .product-container{
    background: #fff;
    min-height: 300px;
    border-top: solid 0.5px #e5e5e5;
    border-bottom: solid 0.5px #e5e5e5;
    margin-bottom: 70px;
  }

  .product-table{
    padding: 0 20px;
  }
  .ant-table-tbody{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
  }
  /* Bỏ hover trên hàng của bảng */
.ant-table-tbody > tr:hover > td {
    background: none !important;
}

/* Bỏ border giữa các cột */
.ant-table-cell {
    border-right: none !important;
    background: #fff !important;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}
th.ant-table-cell::before {
  display: none;}

.ant-table-thead{
  background: none !important;
}
.ant-table-column-title {
  font-weight: 800 !important;
}
/* Tăng kích thước và màu chữ của tiêu đề cột */
.ant-table-thead > tr > th {
    font-size: 15px; /* Tăng kích thước tiêu đề cột */
    color: #8a94ad; /* Màu chữ nhạt hơn */
}
.tag-container .ant-tag {
    margin-top: 8px; /* Thay đổi giá trị này để điều chỉnh khoảng cách */
  }

/* Tùy chỉnh khoảng cách padding trong các ô bảng để dễ nhìn */


.title-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
}

.title-container h1{
  font-size: 35px;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;

}


.create-container{
  display: flex;
}

.create-form{
  width: 65%;
  min-height: 300px;
  padding-left:50px;
}
.create-form Input{
  margin-bottom: 30px;
}

.select-container{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 50px;
}

.select-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 300px;
  background: #fff;
  border-radius: 10px;
  border: solid 0.5px #8a94ad;
  padding: 30px;
  margin-bottom: 30px;
}

.select-item{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  
}
.select-item .ant-select, .variant-item .ant-select
{
  border: solid 0.5px #8a94ad;
  border-radius: 5px;
  height: 37px;
  padding-left: 15px;
  margin-top: 10px;
  font-size: 10px;
  color: #dadada;
}

.variant-item{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}


.input-title{
  margin-bottom: 15px;
}

.ql-editor{
  background: #fff;
}

.upload-container{
  margin-bottom: 25px;
}

.pricing-container{
  display: flex;
  padding-bottom: 15px;
  border-bottom: solid 0.5px #bdbdbd;
  margin-bottom: 15px;

}
.pricing-container span{
  width: 30%;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  text-align: center;  
  align-content: center;
}

.pricing-content{
  width: 70%;
  display: flex;
   gap: 20px;
}
